src/main/mule/mule-shopify-integration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:shopify="http://www.mulesoft.org/schema/mule/shopify"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/shopify http://www.mulesoft.org/schema/mule/shopify/current/mule-shopify.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

  <flow name="mule-shopify-integrationFlow" doc:id="5bb9a9a9-68e1-48b8-84e9-4851701d4380" >
    <shopify:on-new-customer-trigger doc:name="On new customer trigger" doc:id="7dd33f2f-7e9d-458c-9a91-97f3213d2e1a" config-ref="Shopify_Connector_Config">
      <scheduling-strategy >
        <fixed-frequency timeUnit="MINUTES" frequency="1"/>
      </scheduling-strategy>
    </shopify:on-new-customer-trigger>
    <ee:transform doc:name="Transform Message" doc:id="dd651bd4-9648-46a6-a198-115006e5eabe" >
      <ee:message >
        <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger level="INFO" doc:name="Logger" doc:id="07ccaa57-3b7d-4025-81d7-9d9cfb795c88" message='#[payload]'/>
  </flow>
  <flow name="mule-shopify-integrationFlow1" doc:id="71b6327d-4142-4d66-99c5-8bd36baf4057" >
    <shopify:on-new-order-trigger doc:name="On new order trigger" doc:id="f1109dca-26f4-4b74-b800-2dfda10f6bce" config-ref="Shopify_Connector_Config">
      <scheduling-strategy >
        <fixed-frequency frequency="1" timeUnit="MINUTES"/>
      </scheduling-strategy>
    </shopify:on-new-order-trigger>
    <ee:transform doc:name="Transform Message" doc:id="316dfd3e-7842-4efb-9f3e-606f067c7191" >
      <ee:message >
        <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger level="INFO" doc:name="Logger" doc:id="c12bc1d4-2c5c-4e34-ace1-62a67f45560f" message="#[payload]"/>
  </flow>
  <flow name="mule-shopify-integrationFlow2" doc:id="d2a35284-212f-411d-99fc-ae54925d202f" >
    <shopify:on-new-product-trigger doc:name="On new product trigger" doc:id="3e96fabb-c046-4a9d-aec2-debbac7b4093" config-ref="Shopify_Connector_Config">
      <scheduling-strategy >
        <fixed-frequency frequency="1" timeUnit="MINUTES"/>
      </scheduling-strategy>
    </shopify:on-new-product-trigger>
    <ee:transform doc:name="Transform Message" doc:id="6d86ed0f-c990-437a-86d2-2afdbd1b2ba0" >
      <ee:message >
        <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger level="INFO" doc:name="Logger" doc:id="244d1c17-c435-498e-93af-6280b9ea0583" message="#[payload]"/>
  </flow>
  <flow name="mule-shopify-integrationFlow3" doc:id="cb0c2adf-4591-4d27-8cc6-b5228813cc17" >
    <shopify:on-new-product-variant-trigger doc:name="On new product variant trigger" doc:id="1a64dc9b-62c1-4e7a-ad0a-8ece9d3c0bf4" config-ref="Shopify_Connector_Config" productId="123456">
      <scheduling-strategy >
        <fixed-frequency frequency="1" timeUnit="MINUTES"/>
      </scheduling-strategy>
    </shopify:on-new-product-variant-trigger>
    <ee:transform doc:name="Transform Message" doc:id="0ae9cba5-912b-4a35-b0fa-af0cd62e71d3">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger level="INFO" doc:name="Logger" doc:id="199047da-6c24-45c7-bc1d-45bdb311e578" message="#[payload]"/>
  </flow>
  <sub-flow name="transform-log" doc:id="a3e67daa-5aa5-4aec-a7d3-06bffea21a51" >
    <ee:transform doc:name="Transform Message" doc:id="77409dbd-7f20-4392-a2c6-774c44a36548" >
      <ee:message >
        <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger level="INFO" doc:name="Logger" doc:id="6429ab34-e83a-4f29-8c97-ef3435f0b59b" message="#[payload]"/>
  </sub-flow>
</mule>
